doctype html
html(lang="ru")
  block head
    head
      meta(charset="utf-8")
      title Title your site
      meta(content="width=device-width, initial-scale=1" name="viewport")
      meta(content="ie=edge" http-equiv="x-ua-compatible")
      link(rel="stylesheet" href="css/style.min.css")
  body
    block header
      include header
    block content
    block footer
      include footer
    block scripts
      script(src='js/main.min.js')
