@import "../untils/variables";

@mixin media-tablet {

    @media (min-width: $mediaWidthTablet) {
        @content;
    }
}

@mixin media-tablet-horizontal {

    @media (min-width: $mediaWidthTabletHorizontal) {
        @content;
    }
}

@mixin media-laptop {

    @media (min-width: $mediaWidthTabletLaptop) {
        @content;
    }
}

@mixin media-custom($width) {

    @media (min-width: $width) {
        @content;
    }
}
